.header {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  padding: 92px 49.58px 96px 50.52px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 31px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid rgba(0, 0, 0);
  letter-spacing: 0.2px;
}

.header__link_active {
  text-decoration-line: none;
}

.header__logo {
  margin: auto;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  width: 240.52px;
  line-height: 24.3px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  text-align: left;
}

.address__link {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0);
  letter-spacing: 0.1px;
}

.cover {
  padding-bottom: 39px;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.cover_title {
  justify-content: space-between;
  padding: 165px 50px 125px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px 36px;
}

.aligned-text {
  display: block;
  width: 100%;
  grid-column: 1/4;
  z-index: 2;
}

.aligned-text_center {
  grid-column: 2/4;
  z-index: 2;
}

.aligned-text_right {
  grid-column: 3/4;
  z-index: 2;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  padding: 0 50px 0 78px;
  text-transform: uppercase;
  font-size: 22px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 79px;
}

.cover__description-text {
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.5px;
  text-align: left;
  z-index: 2;
}

.bet-button {
  background: transparent;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  width: 256px;
  height: 51px;
  border: 1px solid currentColor;
  z-index: 0;
}

.lots {
  width: 1052px;
  margin: 180px 24px 0 24px;
}

.lots__heading {
  padding: 0 891px 27px 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 328px;
  min-height: 554px;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  padding: 48px 35px 0 39px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  padding: 0 40px 48px;
}

.lots__look-more-link {
  margin: 30px 102px 0 40px;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  max-width: fit-content;
}

.about {
  margin-top: 146px;
  padding: 35px 24px 0;
  display: grid;
  grid-template-columns: 359px auto;
  gap: 14px;
  place-content: space-between start;
  box-sizing: content-box;
}

.about__column {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 1);
}

.about__logo-image {
  padding: 64px 45.52px 62px 46.48px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-top: 101px;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 312;
}

.about__text-first {
  font-weight: 400;
  font-size: 20.2px;
}

.about__text-second {
  font-weight: 400;
  font-size: 19.7px;
  line-height: 24px;
}

.footer {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  padding: 195px 92px 100px 10px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.footer__menu {
  text-align: center;
  align-self: start;
  line-height: 22px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration-line: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  column-gap: 47px;
  list-style-type: none;
}

.footer__link {
  text-decoration: underline;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
